
<!--Repeats through all the posts that are found-->
<div ng-repeat="post in posts">
	
    <!--    The post name and URL-->
    <p> <strong><a ng-href="{{post.url}}">{{post.name}}</a></strong></p>
    <!--    The post description-->
    <p>{{post.description}}</p>
	
    <button type="button" ng-click="deletePost(post)" class="btn btn-danger"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
  
    <!--    Add a new vote-->
    <button type="button" ng-click="addVote(post)" class="btn btn-primary"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span></button>
	  <!--    The post votes-->
    <span>{{post.votes}} Vote(s)</span>
    <br>
    <br>
    <div  ng-repeat="comment in comments">
        
        <div>
            {{comment.text}}
            <br>
            <button class="btn btn-danger" ng-click="removeComment(post, comment)" class="btn btn-danger"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
        </div>
    </div>
	

    <form>
        <div class="input-group">
            <input ng-model="comment.text" class="form-control" placeholder="Commentaire">
         
                <button ng-click="addComment(post, comment)" class="btn btn-success">Ajoutez un commentaire</button>
          
        </div>
    </form>
	</div>

<br>

<div class= "listfilter">
    <form>
        <!--        The Post Name-->
        <div class="form-group">
            <label class="control-label" for="focusedInput">Titre</label>
            <input type="text" ng-model="post.name" class="form-control">
        </div>
        <!--        The Post Description-->
        <div class="form-group">
            <label class="control-label" for="focusedInput">Description</label>
            <input type="text" ng-model="post.description" class="form-control">
        </div>
        <!--        The Post URL-->
        <div class="form-group">
            <label class="control-label" for="focusedInput">URL</label>
            <input type="text" ng-model="post.url" class="form-control">
        </div>
        <br>
        <!--        Save Post-->
        <button ng-click="savePost(post)" class="btn btn-success">Enregistrez</button>
    </form>
	</div>


